.header {
    width: 100%;
    font-family: Arial, sans-serif;
    /* margin-top: -220px; */
    /* margin-top: 40px; */
    position: fixed;
    top: 0px;
    left: 0%;
    right: 25%;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
  }
  
  a{
    text-decoration: none;
  }
  
  .logo {
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 60px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .top-nav {
    display: flex;
    align-items: center;
  }
  
  .top-nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
  }
  
  .top-nav .separator {
    margin: 0 5px;
  }
  
  .right-nav {
    display: flex;
    align-items: center;
  }
  
  .login {
    border: 1px solid red;
    color: red;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 20px;
    font-weight: bold;
  }

  .login:hover{
    color: white;
    background-color: red;
  }
  
  .user:hover{
    cursor: pointer;
  }
  
  .cart {
    display: flex;
    align-items: center;
  }
  
  .cart-icon {
    font-size: 20px;
  }
  
  .cart-count {
    text-decoration: none;
    margin-left: 5px;
    background-color: #6C63FF;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
  }
  
  .cart-details{
    text-decoration: none;
  }
  
  .cart-icon:hover{
    cursor: pointer;
  }
  
  .cart-count:hover {
    cursor: pointer;
  }
  
  .bottom-nav {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-top: 1px solid black;
  }
  
  .bottom-nav a {
    text-align: center;
    justify-content: center;
    height: 25px;
    width: auto;
    margin: 0 20px;
    text-decoration: none;
    color: black;
    border-radius: 4px;
  }
  
  .bottom-nav a:hover{
    color: white;
    background-color: black;
  }
  
  .more-dropdown {
    position: relative;
  }
  
  .more-dropdown a {
    margin: 0;
  }
  
  .more-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
  }
  
  .more-dropdown:hover .more-dropdown-content {
    display: block;
  }

  .header-div{
    cursor: pointer;
  }

  .books-container {
    position: absolute;
    margin-top: 700px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    z-index: 0;
  }
  
  .book-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    width: 200px; /* Adjust as needed */
    text-align: center;
  }
  
  .book-img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .book-details {
    padding: 10px;
  }
  
  .book-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .book-author {
    font-size: 14px;
    color: gray;
    margin-bottom: 10px;
  }
  
  .book-description {
    font-size: 14px;
    color: black;
  }

  .container{
    position: absolute;
  }

  .search-bar{
    margin-top: -180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-input {
    width: 500px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .search-button{
    color: red;
    border: 1px solid red;
    margin-left: 10px;
    border-radius: 5px;
    height: 30px;
    width: 80px;
  }
  
  .search-button:hover{
    color: white;
    background-color: red;
  }